cachetools==5.1.0
certifi==2022.5.18.1
cffi==1.15.1
charset-normalizer==2.0.12
cryptography==41.0.4
et-xmlfile==1.1.0
google-api-core==2.11.1
google-auth==2.23.0
google-cloud-monitoring==2.9.1
googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
idna==3.3
openpyxl==3.0.10
proto-plus==1.20.4
protobuf==4.24.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
requests==2.27.1
rsa==4.8
six==1.16.0
urllib3==1.26.9
